<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ledger.mapper.LedgerSystemMapper">
    
    <resultMap type="LedgerSystem" id="LedgerSystemResult">
        <result property="id"    column="id"    />
        <result property="sysType"    column="sys_type"    />
    </resultMap>

    <sql id="selectLedgerSystemVo">
        select id, sys_type from ledger_system
    </sql>

    <select id="selectLedgerSystemList" parameterType="LedgerSystem" resultMap="LedgerSystemResult">
        <include refid="selectLedgerSystemVo"/>
        <where>  
            <if test="sysType != null  and sysType != ''"> and sys_type like concat('%', #{sysType}, '%')</if>
        </where>
    </select>
    
    <select id="selectLedgerSystemById" parameterType="Long" resultMap="LedgerSystemResult">
        <include refid="selectLedgerSystemVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLedgerSystem" parameterType="LedgerSystem">
        insert into ledger_system
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="sysType != null">sys_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="sysType != null">#{sysType},</if>
         </trim>
    </insert>

    <update id="updateLedgerSystem" parameterType="LedgerSystem">
        update ledger_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="sysType != null">sys_type = #{sysType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLedgerSystemById" parameterType="Long">
        delete from ledger_system where id = #{id}
    </delete>

    <delete id="deleteLedgerSystemByIds" parameterType="String">
        delete from ledger_system where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>