<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ledger.mapper.LedgerDeviceMapper">
    
    <resultMap type="LedgerDevice" id="LedgerDeviceResult">
        <result property="id"    column="id"    />
        <result property="devName"    column="dev_name"    />
        <result property="devModelId"    column="dev_model_id"    />
        <result property="opDatetime"    column="op_datetime"    />
        <result property="description"    column="description"    />
        <result property="supplyId"    column="supply_id"    />
        <result property="sysTypeId"    column="sys_type_id"    />
        <result property="locId"    column="loc_id"    />
    </resultMap>

    <sql id="selectLedgerDeviceVo">
        select id, dev_name, dev_model_id, op_datetime, description, supply_id, sys_type_id, loc_id from ledger_device
    </sql>

    <select id="selectLedgerDeviceList" parameterType="LedgerDevice" resultMap="LedgerDeviceResult">
        <include refid="selectLedgerDeviceVo"/>
        <where>  
            <if test="devName != null  and devName != ''"> and dev_name like concat('%', #{devName}, '%')</if>
            <if test="devModelId != null "> and dev_model_id = #{devModelId}</if>
            <if test="params.beginOpDatetime != null and params.beginOpDatetime != '' and params.endOpDatetime != null and params.endOpDatetime != ''"> and op_datetime between #{params.beginOpDatetime} and #{params.endOpDatetime}</if>
            <if test="description != null  and description != ''"> and description like concat('%', #{description}, '%')</if>
            <if test="supplyId != null "> and supply_id = #{supplyId}</if>
            <if test="sysTypeId != null "> and sys_type_id = #{sysTypeId}</if>
            <if test="locId != null "> and loc_id = #{locId}</if>
        </where>
    </select>
    
    <select id="selectLedgerDeviceById" parameterType="Long" resultMap="LedgerDeviceResult">
        <include refid="selectLedgerDeviceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLedgerDevice" parameterType="LedgerDevice" useGeneratedKeys="true" keyProperty="id">
        insert into ledger_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="devName != null">dev_name,</if>
            <if test="devModelId != null">dev_model_id,</if>
            <if test="opDatetime != null">op_datetime,</if>
            <if test="description != null">description,</if>
            <if test="supplyId != null">supply_id,</if>
            <if test="sysTypeId != null">sys_type_id,</if>
            <if test="locId != null">loc_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="devName != null">#{devName},</if>
            <if test="devModelId != null">#{devModelId},</if>
            <if test="opDatetime != null">#{opDatetime},</if>
            <if test="description != null">#{description},</if>
            <if test="supplyId != null">#{supplyId},</if>
            <if test="sysTypeId != null">#{sysTypeId},</if>
            <if test="locId != null">#{locId},</if>
         </trim>
    </insert>

    <update id="updateLedgerDevice" parameterType="LedgerDevice">
        update ledger_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="devName != null">dev_name = #{devName},</if>
            <if test="devModelId != null">dev_model_id = #{devModelId},</if>
            <if test="opDatetime != null">op_datetime = #{opDatetime},</if>
            <if test="description != null">description = #{description},</if>
            <if test="supplyId != null">supply_id = #{supplyId},</if>
            <if test="sysTypeId != null">sys_type_id = #{sysTypeId},</if>
            <if test="locId != null">loc_id = #{locId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLedgerDeviceById" parameterType="Long">
        delete from ledger_device where id = #{id}
    </delete>

    <delete id="deleteLedgerDeviceByIds" parameterType="String">
        delete from ledger_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>